{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BI Dashboard{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">BI Dashboard: Upload file</a>
        </div>    
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form, enctype='multipart/form-data') }}
            </div>
        </div>
        {% if image %}
             <div class="container">
                <form method='POST' name =  >

                </form>
                <br>
                <p>The file was uploaded successfully</p>
                <a  href="{{ url_for('process',fullfilename=fullfilename) }}">Generate Dashboard!</a>
            </div>    
        {% endif %}
    </div>
{% endblock %}
